.title-slide {
  border-bottom: 45px solid #00509e;
  background-image: 
    url("../images/logos/ntnu.png"),
    url("../images/crosswords.png"),
    url("../images/logos/bc2-basellife.png");
  background-size: 250px;
  background-position: 
    bottom 5px right 5px, 
    top right ,
    bottom 5px left 5px;
  background-repeat: no-repeat;
}

.title-slide .remark-slide-number {
  display: none;
}

.inverse {
  background-color: #FFFFFF;
}

.title-slide h1 {
  color: #00509e;
  font-family: 'Ubuntu';
  font-size: 75px;
  text-align: left;
  text-shadow: none;
}

.title-slide h2 {
 font-size: 30px;
 font-family: 'Ubuntu';
 font-style: italic;
 color: #00509e;
 text-shadow: none;
 text-align: left;
 
 
}
.title-slide h3 {
  color: #AFAFAF; 
  font-family: 'Ubuntu';
  line-height:  0.5em;
  font-size: 24px;
  text-align: left;
  text-shadow: none;
}

.remark-slide-content h1 {
  font-size: 35px;
  font-family: 'Times';
  color: #00509e;
}

.remark-slide-content h2 {
  font-size: 28px;
  font-family: 'Times';
  color: #ffaf61;
  margin-left: 5px;
  line-height:1.4rem;
}


div.my-footer {
    background-color: #00509e;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    right: 3px;
    bottom: 5px;
    left:5px;
}

/* column layout large left*/
.pull-left-large {
  float: left;
  width: 67%;
}

.pull-right-small {
  float: right;
  width: 27%;
}

/* column layout  large right*/
.pull-left-small {
  float: left;
  width: 40%;
}

.pull-right-large {
  float: right;
  width: 55%;
}

/* Font sizes*/
.small{ font-size: 40% }
.medium{ font-size: 75% }



img[alt=levels] {
    width: 450px;
	margin-left: 250px;
}

table { 
  display: inline-block;
  font-size:13px; 
}


